body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1411px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1411px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:698px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:73px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1877 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:73px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:28px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:53px;
}
#u1879 {
  position:absolute;
  left:8px;
  top:12px;
  width:96px;
  height:52px;
  color:#FFFFFF;
}
#u1880 {
  position:absolute;
  left:2px;
  top:18px;
  width:92px;
  word-wrap:break-word;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1881 {
  position:absolute;
  left:116px;
  top:29px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1883 {
  position:absolute;
  left:1px;
  top:73px;
  width:1364px;
  height:80px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:32px;
  width:1360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u1885 {
  position:absolute;
  left:774px;
  top:102px;
  width:252px;
  height:41px;
  color:#868686;
}
#u1886 {
  position:absolute;
  left:2px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:41px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1887 {
  position:absolute;
  left:1032px;
  top:102px;
  width:97px;
  height:41px;
  font-size:16px;
}
#u1888 {
  position:absolute;
  left:2px;
  top:11px;
  width:93px;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1889 {
  position:absolute;
  left:232px;
  top:89px;
  width:60px;
  height:60px;
}
#u1890 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1891 {
  position:absolute;
  left:309px;
  top:110px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:54px;
}
#u1893 {
  position:absolute;
  left:372px;
  top:91px;
  width:1px;
  height:53px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u1895 {
  position:absolute;
  left:384px;
  top:110px;
  width:108px;
  height:19px;
  font-size:16px;
  color:#797979;
}
#u1896 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1897 {
  position:absolute;
  left:231px;
  top:244px;
  width:900px;
  height:57px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:20px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1899 {
  position:absolute;
  left:544px;
  top:262px;
  width:33px;
  height:22px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:17px;
}
#u1901 {
  position:absolute;
  left:257px;
  top:264px;
  width:400px;
  height:17px;
  font-size:15px;
}
#u1901_img.mouseOver {
}
#u1901.mouseOver {
}
#u1902 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u1903 {
  position:absolute;
  left:795px;
  top:264px;
  width:60px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u1905 {
  position:absolute;
  left:1023px;
  top:264px;
  width:101px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1907 {
  position:absolute;
  left:231px;
  top:315px;
  width:900px;
  height:57px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:20px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1909 {
  position:absolute;
  left:496px;
  top:333px;
  width:33px;
  height:22px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:17px;
}
#u1911 {
  position:absolute;
  left:257px;
  top:335px;
  width:430px;
  height:17px;
  font-size:15px;
}
#u1911_img.mouseOver {
}
#u1911.mouseOver {
}
#u1912 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:17px;
}
#u1913 {
  position:absolute;
  left:795px;
  top:335px;
  width:211px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1914 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u1915 {
  position:absolute;
  left:1023px;
  top:335px;
  width:101px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1917 {
  position:absolute;
  left:231px;
  top:387px;
  width:900px;
  height:57px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:20px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1919 {
  position:absolute;
  left:465px;
  top:405px;
  width:33px;
  height:22px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:17px;
}
#u1921 {
  position:absolute;
  left:257px;
  top:407px;
  width:400px;
  height:17px;
  font-size:15px;
}
#u1921_img.mouseOver {
}
#u1921.mouseOver {
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u1923 {
  position:absolute;
  left:795px;
  top:407px;
  width:124px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u1925 {
  position:absolute;
  left:1023px;
  top:407px;
  width:101px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1927 {
  position:absolute;
  left:231px;
  top:458px;
  width:900px;
  height:57px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:20px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1929 {
  position:absolute;
  left:425px;
  top:476px;
  width:33px;
  height:22px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:17px;
}
#u1931 {
  position:absolute;
  left:257px;
  top:478px;
  width:430px;
  height:17px;
  font-size:15px;
}
#u1931_img.mouseOver {
}
#u1931.mouseOver {
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:17px;
}
#u1933 {
  position:absolute;
  left:795px;
  top:478px;
  width:211px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1934 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u1935 {
  position:absolute;
  left:1023px;
  top:478px;
  width:101px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1937 {
  position:absolute;
  left:231px;
  top:529px;
  width:900px;
  height:57px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:20px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1939 {
  position:absolute;
  left:456px;
  top:546px;
  width:33px;
  height:22px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:17px;
}
#u1941 {
  position:absolute;
  left:257px;
  top:549px;
  width:400px;
  height:17px;
  font-size:15px;
}
#u1941_img.mouseOver {
}
#u1941.mouseOver {
}
#u1942 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u1943 {
  position:absolute;
  left:795px;
  top:549px;
  width:60px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u1945 {
  position:absolute;
  left:1023px;
  top:549px;
  width:101px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1947 {
  position:absolute;
  left:231px;
  top:600px;
  width:900px;
  height:57px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:20px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1949 {
  position:absolute;
  left:434px;
  top:618px;
  width:33px;
  height:22px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:17px;
}
#u1951 {
  position:absolute;
  left:257px;
  top:620px;
  width:499px;
  height:17px;
  font-size:15px;
}
#u1951_img.mouseOver {
}
#u1951.mouseOver {
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:17px;
}
#u1953 {
  position:absolute;
  left:795px;
  top:620px;
  width:211px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u1955 {
  position:absolute;
  left:1023px;
  top:620px;
  width:101px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  position:absolute;
  left:231px;
  top:672px;
  width:900px;
  height:57px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:20px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1959 {
  position:absolute;
  left:530px;
  top:690px;
  width:33px;
  height:22px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:17px;
}
#u1961 {
  position:absolute;
  left:257px;
  top:692px;
  width:400px;
  height:17px;
  font-size:15px;
}
#u1961_img.mouseOver {
}
#u1961.mouseOver {
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u1963 {
  position:absolute;
  left:795px;
  top:692px;
  width:60px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u1965 {
  position:absolute;
  left:1023px;
  top:692px;
  width:101px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1967 {
  position:absolute;
  left:231px;
  top:743px;
  width:900px;
  height:57px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:20px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1969 {
  position:absolute;
  left:677px;
  top:761px;
  width:33px;
  height:22px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:17px;
}
#u1971 {
  position:absolute;
  left:257px;
  top:763px;
  width:499px;
  height:17px;
  font-size:15px;
}
#u1971_img.mouseOver {
}
#u1971.mouseOver {
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:17px;
}
#u1973 {
  position:absolute;
  left:795px;
  top:763px;
  width:211px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u1975 {
  position:absolute;
  left:1023px;
  top:763px;
  width:101px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1977 {
  position:absolute;
  left:231px;
  top:813px;
  width:900px;
  height:57px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:20px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1979 {
  position:absolute;
  left:361px;
  top:831px;
  width:33px;
  height:22px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:17px;
}
#u1981 {
  position:absolute;
  left:257px;
  top:833px;
  width:400px;
  height:17px;
  font-size:15px;
}
#u1981_img.mouseOver {
}
#u1981.mouseOver {
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u1983 {
  position:absolute;
  left:795px;
  top:833px;
  width:60px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u1985 {
  position:absolute;
  left:1023px;
  top:833px;
  width:101px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1987 {
  position:absolute;
  left:231px;
  top:884px;
  width:900px;
  height:57px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:20px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1989 {
  position:absolute;
  left:605px;
  top:902px;
  width:33px;
  height:22px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:17px;
}
#u1991 {
  position:absolute;
  left:257px;
  top:904px;
  width:499px;
  height:17px;
  font-size:15px;
}
#u1991_img.mouseOver {
}
#u1991.mouseOver {
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:17px;
}
#u1993 {
  position:absolute;
  left:795px;
  top:904px;
  width:211px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u1995 {
  position:absolute;
  left:1023px;
  top:904px;
  width:101px;
  height:17px;
  font-size:15px;
  color:#797979;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:47px;
}
#u1997 {
  position:absolute;
  left:500px;
  top:989px;
  width:363px;
  height:47px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:16px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1363px;
  height:67px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1999 {
  position:absolute;
  left:0px;
  top:154px;
  width:1363px;
  height:67px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:26px;
  width:1359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
}
#u2001 {
  position:absolute;
  left:559px;
  top:180px;
  width:233px;
  height:16px;
}
#u2002 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
